@font-face {
    font-family: apercu_regular;
    src: url('/assets/fonts/apercu-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    // , url('/assets/fonts/didot/Didot.otf') format('otf')
}

@font-face {
    font-family: apercu_light;
    src: url('/assets/fonts/apercu-light.woff2') format('woff2');
    // , url('/assets/fonts/didot/Didot.otf') format('otf')
    font-weight: light;
    font-style: normal;
}
