/*....................................SCSS VARIABLES..................................*/


// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 900;


// ........................................................FONT SIZES
$font-size-h1:18px;
$font-size-h2:30px;
$font-size-h3:14px;
$font-size-p: 11px;
$font-size-p2: 7px;

$font-size-h1-mobile: 18px;
$font-size-h2-mobile: 30px;
$font-size-h3-mobile: 14px;
$font-size-p-mobile: 11px;
$font-size-p2-mobile: 7px;

// ........................................................FONT FAMILIES
$font-family-h1: folio;
$font-family-h2: folio-medium, sans-serif;
$font-family-h3: folio-medium, sans-serif;
$font-family-p: folio,serif;
$font-family-p2: folio,serif;


// ........................................................FONT LINEHEIGHTS
$line-height-h1: 20px;
$line-height-h2: 50px;
$line-height-h3: 30px;
$line-height-p: 20px;
$line-height-p2: 15px;

$line-height-h1-mobile: 20px;
$line-height-h2-mobile: 45px;
$line-height-h3-mobile: 30px;
$line-height-p-mobile: 20px;
$line-height-p2-mobile: 15px;


$letter-spacing: 1px;
$letter-spacing-h1: 2px;
$letter-spacing-h2: 2px;
$letter-spacing-h3: 1px;
$letter-spacing-p:0px;
$letter-spacing-p2:0px;

// ........................................................COLORS
$black: #000000;
$white: #FFFFFF;
$blue: rgba(0,118,92);
$cream: #f8f7ec;
$grey: #a8a8a8;
$light-grey: #F5F5F5;


// ........................................................MARGINS
$margin-sides: 30px;
$margin-bottom: 35px;
$margin-top: 150px;
$margin-sides-mobile:10px;
$margin-left-paragraph:5px;
$margin-top-li:150px;
$margin-top-p:25px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................Z-INDEXES
$z-loader:15;
$z-pop:14;
$z-nav-icon:13;
$z-share:13;

$z-clickOut: 12;
$z-nav:10;
$z-info:9;
$z-splash:9;
$z-logo:8;
$z-projects-arrows:9;
$z-credits:8;
$z-press-camera:8;
$z-press-h:8;
$z-press-background:7;
$z-feed:7;

$z-detail-li:4;
$z-detail-cover:3;








/*....................................................................................*/
