@import 'variables';
@import 'mixins';

.goodlife{
  // width:calc(100vw - 250px);
  height: auto;
  // margin-left: 250px;
}


.goodlife-image{
  width: 30vw;
  display: block;
}
.goodlife-ul{
  width:100%;

  .goodlife-li{
    padding-top: $margin-top-li;
    .goodlife-question{
      margin-top: $margin-top-p;
    }
  }
}

.nodes{
  width:50vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:10vw;
  // background-image: url("https://s3-us-west-2.amazonaws.com/asset.goodfight/images/7369931_orig.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 0px 40px 40px #f8f7ec;
  @include respond-to(phone) {
      position: relative;
      width:100vw;
      height: 50vh;
      left:0vw;
  }
}

.nodes-g{
  cursor: pointer;
}

// .active {
//   stroke: #000;
//   stroke-width: 2px;
// }


.links line {
  stroke: #999;
  stroke-opacity: 0.6;
  width: 100px;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.goodlife-interview{
  position: fixed;
  overflow-y:scroll;
  left: 60vw;
  width:40vw;
  height: 100vh;
  top:0;
  padding-bottom: $margin-top-li;
  @include respond-to(phone) {
    width: 90vw;
    left:5vw;
    height: auto;
    position: relative;
    overflow-y:auto;
  }
  h2{
    color:$blue;
  }
  .goodlife-li{
    // padding-top: $margin-top-li;
    .goodlife-question{
      margin-top: $margin-top-p;
    }
  }
}



:host{
  position: relative;
}

.gradient {
  position: absolute;
}
.content {
  position: relative;
}

.goodlife-gradient{
  position: fixed;
  top:0;
  left:10vw;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  @include respond-to(phone) {
    width: 100vw;
    left:0vw;
    position: absolute;
  }
}
.gradient {
   position: absolute;
   background:linear-gradient(#aaae93, #6b8c83);
   // background: radial-gradient(circle closest-side, #000000, transparent);
   transform: translate(-50%, -50%);
   transition: width 0.2s ease, height 0.2s ease;
   @include respond-to(phone) {
     width: 100vw!important;
     height: 100vh!important;
     position: absolute;
     transform: translate(0%, 0%)!important;
     left:0!important;
     width:0!important;
   }
 }

 g{
   cursor: pointer;
 }

.info{
  position: fixed;
  top:20px;
  left:15vw;
  z-index:99;
  background-color: rgba(0,0,0,0.0);
  min-width: 30px;
  min-height: 30px;
  max-width: 40vw;
  transition:         all $transition-slow ease;
  -webkit-transition: all $transition-slow ease;
  -moz-transition:    all $transition-slow ease;
  -ms-transition:     all $transition-slow ease;
  -o-transition:      all $transition-slow ease;
}
 .info-btn{

 }

 .info-text{
   position: relative;
   display: block;
   width:auto;
   color: pink;
   word-break: normal;
 }
