<div *ngIf="feed" class="contact">
  <!-- <h1>{{feed.results["0"].data.contact.section_title.value["0"].text}}</h1> -->
  <!-- <ul>
    <li
    *ngFor="let item of feed.results['0'].data.contact.body.value"
    class="contact-item"
    >
      <h2>{{item["non-repeat"].title.value["0"].text}}</h2>
      <p>{{item["non-repeat"].contact_info.value["0"].text}}</p>
    </li>
  </ul> -->
  <div class="contact-content">
    <div class="logo-wrap">
    </div>
    <p></p>
    <p></p>
    <p></p>
    <a href="mailto:info@gdfht.com">info@gdfht.com</a>
  </div>
</div>
