@import 'variables';
@import 'mixins';

.nav{
  position: fixed;
  z-index:$z-nav;
  width: 230px;
  height: 100vh;
  margin-left: 20px;
  @include respond-to(phone) {
      width: 100vw;
      height: 100vh;
      bottom:0;
      border-top: 1px solid black;
      background: rgba(255,255,255,0.8);
      margin-left: 0;
      left: 0;
      transform: translateY(90vh);
  }
}

.nav-top{
  width: 100%;
  height:20vh;
  @include respond-to(phone) {
    margin-left: 20px;
    position: relative;
    margin-top: 10vh;
  }
}

.nav-main{
  width: 100%;
  height:20vh;
  margin-top: 20vh;
  @include respond-to(phone) {
    margin-left: 20px;
    margin-top: 10vh;
    height: 15vh;
  }
}

.nav-logo{
  width: 100%;
  height:auto;
  display:block;
  padding:60px 0;
  @include respond-to(phone) {
    left: 20px;
    position: absolute;
    top:20px;
    padding: 0;
  }
}

.nav-legal{
    margin-top: 20px;
    @include respond-to(phone) {
      margin-left: 20px;
    }
  a{
    display: inline-block;
  }
}


.nav-sub{
  width:100%;
  display: block;
  height: auto;
  position: relative;
  text-align: center;
  @include respond-to(phone){
    width: 80vw;
    display: block;
    margin-left: 20px;
  }
  .nav-li{
    // width: 100px;
    position: relative;
    display: block;
    height: 28px;
    @include respond-to(phone){
      width: 100%;
      display: block;
      text-align: center;
    }
    a{
      width: 100%;
      display: block;
      height:auto;
      line-height: auto;
      vertical-align: middle;
      @include h2();
    }
  }
}

.nav_active{
  color:$blue;
}


.nav-ul.open{
  display: block;
  // height: auto;
  .nav-li{
    position: relative;
  }
}
