@import 'fonts';
@import 'variables';
@import 'mixins';


.logo{
  position: relative;
  width: 160px;
  height: auto;
  display: block;
  z-index:$z-logo;
  margin: 0;
  svg{
    display: block;
    width:100%;
    height: auto;
    margin: auto;
  }
}
